html,body {
	margin: 0;
	padding: 0;
	font-style: Arial, sans-serif;
}
form {
	max-width: 500px;
	margin: auto;
}
form > * {
	display: block;
	width: 100%;
}
form input {
	line-height: 24px;
}

.film {
	position: relative;
}
.film img, .film .info {
	display: inline-block;
	vertical-align: top;
}
.film h2, .film p {
	max-width: 500px; 
}
.close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-weight: bolder;
	cursor: pointer;
}